# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
ENV/
env/
.venv/

# VS Code
.vscode/

# Test and coverage
.coverage
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db
